@import url('https://fonts.googleapis.com/css2?family=Muller&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muller', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f9f5f0;

}

.main-content {
    display: flex;
    max-width: 1800px;
    width: 100%;
    height: 100%;
    background-color: #f9f5f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Left section*/

.form-container {
    width: 50%;
    padding: 40px;
    background-color: #f9f5f0;
    min-height: 90vh; /* Ensure enough space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.top-left-logo {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.top-left-logo img {
    height: 90px;
    width: 90px;
    margin-right: 5px;
}

.brand-name {
    font-family: 'Exo';
    font-size: 18px;
    font-weight: bold;
    color: #4a2c1a;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
}


.signup {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.form-group input[type="date"] {
    width: 100%; /* Make it take the full width of the parent container */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.form-group {
    margin-bottom: 20px;
    min-height: 55px;
    flex-grow: 1;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    padding-left: 16px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #333;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    padding: 0;
}

.checkbox-group label {
    margin-left: 0;
}

.checkbox-group input {
    margin-left: 0;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right,#d4a373, #a66c3f);
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(to right,#d4a373, #a66c3f);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.forget-password,
.create-account {
    font-size: 14px;
    color: #d4a373;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

.forget-password:hover,
.create-account:hover {
    color: #a66c3f;
}

.container {
    width: 50%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.3);
}

.wrapper {
    display: flex;
    width: 100%; 
    height: 100%;
}

.wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Ensures images are fully displayed */
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    min-height: 20px;
}
