<div class="container">
    <div class="button-bar">
      <button class="back-btn" (click)="goBack()">
        <img src="assets/back.png" alt="Back Icon" class="button-icon" />
      </button>
      <button class="sign-out-btn" (click)="signOut()">Sign Out</button>
    </div>
    <div class="content">
      <h1>WELCOME TO ECHO</h1>
      <p class="main-content">
        Echo is more than just a platform—it's a digital time capsule designed to preserve your memories, ideas, and creations for the future. Whether you want to store personal milestones, collaborate with loved ones, or share your work with the world, Echo provides a secure and innovative space to do so. Schedule your capsules to unlock at a specific date, collaborate with friends in real-time, and receive notifications about your capsules and social interactions. Create a unique profile to showcase your journey and connect with a global community. Echo empowers you to leave a lasting legacy, one capsule at a time.
      </p>
      <div class="feature-section">
        <div class="feature-item">
          <img src="assets/capsule-1.png" alt="Capsule Icon" class="feature-icon uniform-icon" height="32px" width="32px"/>
          <p>Store files by scheduling them to unlock at a future date.</p>
        </div>
        <div class="feature-item">
          <img src="assets/friends-1.png" alt="Team Work Icon" class="feature-icon uniform-icon" height="32px" width="32px"/>
          <p>Collaborate on capsules with friends in real-time.</p>
        </div>
        <div class="feature-item">
          <img src="assets/notification-1.png" alt="Notification Icon" class="feature-icon uniform-icon" height="32px" width="32px"/>
          <p>Get notified about your capsules and friend activities.</p>
        </div>
        <div class="feature-item">
          <img src="assets/user-1.png" alt="User Icon" class="feature-icon uniform-icon" height="10px" width="10px"/>
          <p>Create your own profile to personalize your experience.</p>
        </div>
      </div>
    </div>
  </div>